@tailwind base;
@tailwind components;
@tailwind utilities;

/* Text Selection Custom Color */
::-moz-selection {
  color: #fff;
  background: #4f46e5;
}

::selection {
  color: #fff;
  background: #4f46e5;
}

/* NProgress */
#nprogress .bar {
  height: 2px;
  background: #6366f1
    linear-gradient(to right, #6366f1, #a307ba, #fd8d32, #70c050, #6366f1);
  background-size: 500%;
  animation: 2s linear infinite barprogress, 0.3s fadein;
  width: 100%;
}
@keyframes barprogress {
  0% {
    background-position: 0% 0;
  }
  to {
    background-position: 125% 0;
  }
}
#nprogress .spinner-icon {
  border-top-color: #6366f1
    linear-gradient(to right, #6366f1, #a307ba, #fd8d32, #70c050, #6366f1);
}
