---
import '@/styles/global.css';

import Announcement from '@/components/common/Announcement';
import Head from '@/components/common/Head.astro';
---

<html lang="bn" class="h-full scroll-smooth antialiased">
  <head>
    <Head />
  </head>
  <body
    class="dark:bg-dark-deep relative overflow-x-hidden bg-white text-base text-slate-600 dark:text-slate-300"
  >
    <div class="flex min-h-dvh flex-col">
      <Announcement client:idle />
      <!-- <Header /> -->
      <main class="flex-auto overflow-x-hidden">
        <slot />
      </main>
      <!-- <Footer /> -->
    </div>
  </body>
</html>
