---
import '@/styles/global.css';

import Announcement from '@/components/common/Announcement';
import Footer from '@/components/common/Footer';
import Header from '@/components/common/Header';
import MetaTags from '@/components/common/MetaTags.astro';
import ThemeScript from '@/components/common/ThemeScript.astro';

const { pageTitle, pageDescription } = Astro.props;
---

<html lang="bn" class="h-full scroll-smooth antialiased">
  <head>
    <MetaTags pageTitle={pageTitle} pageDescription={pageDescription} />
    <ThemeScript />
  </head>
  <body
    class="text-foreground bg-background relative overflow-x-hidden text-base"
  >
    <div class="flex min-h-dvh flex-col">
      <Announcement client:idle />
      <Header client:idle />
      <main class="flex-auto overflow-x-hidden">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
